body {
  background-color: #D8D2CB;

}

h1 {
   color: #7882A4;
   font-family: 'Sacramento', cursive;
}

h3 {
  font-family: 'Sacramento', cursive;
  color: #7882A4;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
